:root {
    --fondo: #730808; 
  }
  
  body {
    margin: 0;
    background-color: var(--fondo);
    min-height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
  }
  .h3{
    width: 748px;
    height: 361px;
    color:white;
  }
  
  .Iphone17izquierda {
    width: 293px;
    height: 595px;
    transform: rotate(20.19deg);
    background-color: white;
    border: solid black 5px;
    border-radius: 50px;
    z-index: 2
  }
  
  .Iphone17derecha {
    width: 293px;
    height: 595px;
    transform: rotate(-20.19deg);
    background-color: white;
    border: solid black 5px;
    border-radius: 50px;
    
    margin-left: -120px; 
    margin-right: 80px;  
    z-index: 1;         
  }