:root {
    --fondo: #888888; 
  }
  
  body {
    margin: 0;
    background-color: var(--fondo);
    min-height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
  }
  .contenedordeiphone{
      display: flex;
      align-items: center;
      justify-content: center;
      backface-visibility: hidden; 
      will-change: transform; 
  
    }

  .Iphone17izquierda {
    aspect-ratio: 293 / 595;
    height: 66.11vh; 
    width: 16.31vw;
    transform: rotate(20.19deg);
    background-color: white;
    border: solid black 0.3vw;
    border-radius: 3rem;
    z-index: 2;
    display: inline-block;
    box-sizing: border-box;
    display:flex ;
    display: flex; /* Mantén Flexbox */
    justify-content: center; /* Centra la camarita en el eje X */
    align-items: flex-start; /* Ubica la camarita arriba */
    padding-top: 0.2vh; /* Espacio desde el borde superior */
    position: absolute;
    margin-right: 10rem;
  }
  
  .Iphone17derecha {
    aspect-ratio: 293 / 595;
    height: 66.11vh; 
    width: 16.31vw;
    transform: rotate(-20.19deg);
    background-color: white;
    border: solid black 0.3vw;
    border-radius: 3rem;
    display: inline-block;
    margin-left: -120px; 
    margin-right: 80px;  
    z-index: 1;
    box-sizing: border-box;
    display: flex; /* Mantén Flexbox */
    justify-content: center; /* Centra la camarita en el eje X */
    align-items: flex-start; /* Ubica la camarita arriba */
    padding-top: 0.2vh; /* Espacio desde el borde superior */
    margin-right: 40rem;
  }

  .camaritaderecha{
    background-color: black;
    width: 4.5vw;
    height: 2.5vh;
    border-radius: 3rem;
  }

  .camaritaizquierda{
    background-color: black;
    width: 4.5vw;
    height: 2.5vh;
    border-radius: 3rem;

  }
  
  .cuadradoresport{
    position: absolute; 
    top: 0;
    left: 0;
    height: 8vh;
    width: 100vw;
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: #767676;
    margin: 0;
  }
  h1 {
    font-family: 'Manrope', sans-serif;
    font-weight: 200;
    margin: 0;
  padding: 10rem;           /* Elimina espaciados internos por defecto */
  margin-right: auto;    /* Empuja el texto completamente a la izquierda si está dentro de un contenedor Flex */
  text-align: left;
  
  .cuadradocrearcuenta {
    font-family: 'Manrope', sans-serif;
    font-weight: 200;
    margin: 0;
  padding: 50rem;           /* Elimina espaciados internos por defecto */
  margin-right: auto;    /* Empuja el texto completamente a la izquierda si está dentro de un contenedor Flex */
  text-align: left;
  height: 10vh;
  width: 30vw;
  background-color: yellow;
  }

  }